# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Altera-related cruft
*.chg
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.qpf
*.qsf
*.sof
*.log
db
incremental_db
